<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <main>
        <header>La bonne vieille ToDo List</header>
        <section>
          <input type="text" placeholder="Ajoutez une tâche à votre liste..." v-model="newTaskField">
          <button v-on:click="addTask">OK</button>
        </section>
        <section class="list">
          <div v-for="task in tasksList">
            <span>{{task.text}}</span>
            <button class="done">Fait</button>
            <button class="delete disable">Effacer</button>
          </div>
        </section>
        <footer>Formation initiale vue.js</footer>
      </main>
    </div>
    <script src="script.js"></script>
  </body>
</html>
